<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <script src="/js/1027231140630601.js" async="async"></script>
    <link rel="shortcut icon" href="~/img/LogoSample_ByTailorBrands2.ico" type="image/png">
    <meta charset="utf-8">
    <title>
        COINCARD SNEAKER
    </title>

    <link rel="canonical" href="https://dvrk.vn/">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="1 day">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0" name="viewport">
    <script type="text/javascript">
        //<![CDATA[

    </script>


    <script src="/js/plugin-hrv.js" type="text/javascript"></script>
    <script>
        var formatMoney = '{{amount}}₫';
    </script>
    <!--[if lt IE 9]>
    <script src="//hstatic.net/0/0/global/design/theme-default/html5shiv.js"></script>
    <![endif]-->
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/ss-standard.js" type="text/javascript"></script>
    <script src="/js/ss-social.js" type="text/javascript"></script>
    <script src="/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/js/init.js" type="text/javascript"></script>
    <script src="/js/slick.min.js" type="text/javascript"></script>




    <!-- Latest compiled and minified JavaScript -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/doke.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/edit.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/js/jquery.products.js" type="text/javascript"></script>

</head>

<body>
    <body class="loading index">
        <div id="neoher-top">
            <div class="header-top hidden-xs">
                <div class="header-bt">
                    <span>Đây là trang quản trị</span>
                </div>
            </div>
        </div>
        <div class="main2cat " style="z-index:999;">
            <div class="xans-element- xans-layout xans-layout-logotop hidden-xs hidden-sm">
                <a href="@Url.Action("Index", "COINCARD")">
                    <img src="~/img/LogoSample_ByTailorBrands2.png" alt="COINCARD SNEAKER">
                </a>
            </div>


            <nav class="cl-effect-1" style="background: rgba(0, 47, 77, 0.25);">
                <div id="menu_v" class="menu_v ">


                    @*@Html.Action("About","COINCARD")*@


                  

                    <div>
                        <a href="@Url.Action("Index","COINCARD")" class="list-group-item">
                            TRANG CHỦ

                        </a>
                    </div>

                    <div>
                        <a href="@Url.Action("Giay","Admin")" class="list-group-item">
                            QUẢN LÝ SẢN PHẨM

                        </a>
                    </div>
                    @*<div>
                        <a href="@Url.Action("Dangnhap","Nguoidung")" class="list-group-item">
                            Đăng nhập
                        </a>
                    </div>

                    @Html.Action("GiohangPartial", "Giohang")*@






               

                </div>

            </nav>

        </div>
        <div class="overlay"></div>
        <div id="Wrapper">
            <div id="WrapInner">

                @RenderBody()
            </div>

        </div>

        @*<script>
                $(document).ready(function () {
                    $(".accordion .accord-header").click(function () {
                        if ($(this).next("div").is(":visible")) {
                            $(this).next("div").slideUp("slow");
                        } else {
                            $(".accordion .accord-content").slideUp("slow");
                            $(this).next("div").slideToggle("slow");
                        }
                    });
                });
            </script>*@
        <div class="footer footer-new footer-index" style="background-color:black">
            <p class="text-new visible-xs text-center">
                <a href="/">NEWSLETTER</a>
            </p>
            <div class="footer-social pull-left">
                <ul class="headermenu-social">

                    <li>
                        <a href="https://www.facebook.com/groups/16DTHC6/">
                            <i class="fa fa-facebook" style="color:white"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/linhnguyen.98/">
                            <i class="fa fa-instagram" style="color:white"></i>
                        </a>
                    </li>




                </ul>
            </div>
            <div class="footer-copyright hidden-xs" style="color:white">
                <b>&copy; 2019 COINCARD SNEAKER</b>
            </div>
            <div class="footer-menu pull-right clearfix">
                <ul class="header-menu">

                    <li>
                        @if (Session["Taikhoanadmin"] == null)
                        {
                            <a href="@Url.Action("Login","Admin")" style="color:white">
                                ADMIN
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Dangxuatadmin","Admin")" style="color:white">
                                LOGOUT_ADMIN
                            </a>
                        }


                    </li>
                </ul>



            </div>
            <div class="footer-copyright visible-xs" style="color:white">
                <b>&copy; 2019 COINCARD SNEAKER</b>
            </div>
        </div>
    </body>
</body>
</html>
