@model IEnumerable<COINCARD.Models.GIAY>


@{
    ViewBag.Title = "Giay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="PageMain">

    <h2> QUẢN LÝ SẢN PHẨM</h2>

    <p>
        @Html.ActionLink("Thêm sản phẩm mới", "ThemmoiGiay")
    </p>
    <table class="table">
        <tr>
         
            <th style="width:150px">  Mã giày </th>
            <th style="width:200px">  Tên giày </th>
                <th style="width:100px">  Giá bán  </th>
                <th style="width:300px">  Mô tả    </th>
                <th style="width:200px">  Ảnh bìa  </th>
                <th style="width:150px">  Ngày cập nhật </th>
                <th style="width:120px">  SL.Tồn </th>
                <th style="width:120px">  Tên thương hiệu   </th>
                <th style="width:200px">  </th>

        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Magiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tengiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)


            </td>
            <td>
                <img src="@Url.Content("/img/"+  item.Anhbia)" width="120px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTH)
            </td>
            
            <td width="90px">
                @Html.ActionLink("Sửa", "Suagiay", new { id = item.Magiay }) |
                @Html.ActionLink("Chi tiết", "Chitietgiay", new { id = item.Magiay }) |
                @Html.ActionLink("Xóa", "Xoagiay", new { id = item.Magiay })
            </td>
        </tr>
        }
    </table>
</section>