@model COINCARD.Models.GIAY

@{
    ViewBag.Title = "Xoagiay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">

    <div style="text-align:center; padding-right:22%">
        <h3>Bạn muốn xóa sản phẩm này?</h3>
        

        <hr />
        <dl class="dl-horizontal" style="font-size:13px">
            <dt style="font-weight: bold">
                Tên giày:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tengiay)
            </dd>

            <dt style="font-weight: bold">
                Giá bán:
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Giaban)*@
                @String.Format("{0:0,0}", Model.Giaban) VNĐ

            </dd>

            <dt style="font-weight: bold">
                Mô tả:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mota)
            </dd>

            @*<dt>
                Size:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>*@

            <dt style="font-weight: bold">
                Ảnh bìa
            </dt>

            <dd>
                <img src="@Url.Content("~/img/"+Model.Anhbia)" style="width:150px" />

            </dd>

            <dt style="font-weight: bold">
                Ngày cập nhật:
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Ngaycapnhat)*@
                @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
            </dd>

            @*<dt>
                Số lượng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Soluongton)
            </dd>*@

            <dt style="font-weight: bold">
                Thương hiệu:
            </dt>

            
                @*@Html.DisplayFor(model => model.MaTH)*@
                @if (Model.MaTH == 1)
                {
                    <dd>
                        NIKE
                    </dd>
                }
            @if (Model.MaTH == 2)
            {
                <dd>
                    ADIDAS
                </dd>
            }
            @if (Model.MaTH == 3)
            {
                <dd>
                    CONVERSE
                </dd>
            }
            @if (Model.MaTH == 1)
            {
                <dd>
                    VANS
                </dd>
            }
          

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Giay")
            </div>
        }
    </div>

</section>